@model pesazangu.Models.CompareViewModel

@{
    ViewData["Title"] = "Compare";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Compare" asp-controller="Loan" method="POST" id="frmCompareLoan">
    
    <div class="form-group">
        @Html.LabelFor(model => model.LoanAmount)
        <input asp-for="LoanAmount" class="form-control" value="" type="number" />
        <span asp-validation-for="LoanAmount" />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PaybackDurationType)
        <select asp-for="PaybackDurationType" asp-items="Model.PaybackDurationTypes" class="form-control selcls"></select>           
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PaybackDuration)
        <input asp-for="PaybackDuration" class="form-control" value="" type="number" />
    </div>
    <button type="submit" class="btn btn-primary" id="btnCompare">Compare</button>
</form>

<div id="divCompareResult"></div>

@section Scripts {
    <script type="text/javascript">  
        $(document).ready(function() {
            $("#frmCompareLoan").submit(function(e) {
                e.preventDefault();
                $("#btnCompare").attr("disabled", true)

                $.ajax({
                    type: "POST",
                    url: "/Loan/Compare",
                    cache: false,
                    data: $(this).serialize()
                }).done(function(data) {
                    $("#btnCompare").attr("disabled", false)
                    $("#divCompareResult").replaceWith(data)
                }).fail(function() {
                    $("#btnCompare").attr("disabled", false)
                    alert("fail")
                })
            })
        })
    </script>
}  